---
import HomePage from '../components/pages/HomePage';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intervue.ai - AI Mock Interviews</title>
</head>
<body class="bg-[#020617]">
    <HomePage client:only="react" />
</body>
</html>